*{
    margin: 0;
    padding: 0;
    font-family:'Rubik', sans-serif;
}
/*Mobile*/

/*Classes gerais*/

.content{
    padding: 0 4.3% 13%;
    text-align: center;
}

.content h2{
    padding-top: 7.75%;
    padding-bottom: 2.5%;
    font-size: 1.6em;
    width: 90vw;
    font-weight: 700;
    box-sizing: border-box;
}

.card{
    margin-bottom: 8.6%;
    height: 28vw;
    display: flex;
}

.description{
    height: 70%;
    flex-direction: row;
    margin: 7% 8% 10% 4%;
    text-align: left;
}

.description-title{
    flex-direction: row;
    font-size: 120%;
    margin-bottom: 6%;
    letter-spacing: 1px;
}

.description-sub{
    font-size: 96%;
}

.termos{
    margin-top: 9%;
    font-size: .68em;
    line-height: 1.5em;
}



/*Cabeçalho*/
.header{
    background-color: black;
    color: white;
    display: flex;
}

.image-logotipo{
    width: 23.4%;
    padding: 2.7% 0 2.5% 3%;
    box-sizing: border-box;
}

.fa-solid{
    margin: .68em .75em .5em 0 ;
    font-size: 1.49em;
    color: white;
}



/*Conteúdo de anúncio*/
.content-ad{
    background-color: #df0c8b;
    color: white;
    height: 160vw;
}

.ad{
    height: 100%;
    padding: 5% 4.3% 0;
    text-align: justify;
    box-sizing: border-box;
}

/*Elementos .ad título/parágrafo*/
.ad h1{
    font-size: 1.66em;
    font-weight: 600.2;
    letter-spacing: .3px;
}

.ad h2{
    text-align: left;
    margin-top: 7%;
    line-height: 1.55em;
    font-size: 1.049em;
    font-weight: 400;
    letter-spacing: .3px;
}

/*Elementos .add buttons*/ 

.buttons{
    margin-top: 12.5%;
}

.button{
    display: block;
    width: 100%;
    margin: auto;
    padding: 1.2em;
    border-radius: 2em;
    text-transform: uppercase;
    font-size: .88em;
    color: white;
    font-weight: 450;
    letter-spacing: .3px;
}

.button-fill{
    background-color: rgb(22, 19, 19);
    border: 1px solid rgb(22, 19, 19);
    margin-bottom: 2%;
}

.button-leak{
    border: 2.3px solid white;
    background-color: transparent;
}

/*Elementos .ad imagem*/
.ad img{
    width: 68%;
    display: block;
    margin: auto;
    margin-top: 8%;
}


/*Conteúdo mestre*/

.content-master{
    background-color: #f6f6f6;
}

.content-master > p{
    width: 90vw;
    margin: auto;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.3em;
    padding-bottom: 7%;
}


/*Conteúdo cards com "icone"*/

.content-icons{
    padding-bottom: 9.5%;
}

.content-icons img{
    width: 24%;
    height: 77%;
    margin-top: 3%;
}

.icons{
    width: 110%;
    font-size: 117%;
    font-weight: 600;
    margin-top: 4%;
}

.card-icon{
    margin-bottom: 6%;
}



/*Conteúdo dos planos Premium*/

.content-plan{
    background-color: rgb(235, 235, 235);
}

#h2-plan{
    font-size: 180%;
}

/*Div dos Cartões de crédito*/
.credit-cards{
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 5%;
} 

.credit-cards a{
    color: black;
    font-size: 98%;
    margin: auto;
}

.credit-cards img{
    width: 10%;
    border-radius: 9%;
    margin: auto;
}

.hipercard{
    background-color: rgb(120, 41, 41);
}

/*Card do plano*/

.card-plan-1{
    margin-top: 10.4%;
}

.card-plan{
    background-color: white;
    margin-top: 3%;
    border-radius: 3%;
    padding: 0 3.5%;
    box-shadow: 0 0 5px .5px rgb(184, 181, 181);
}

.div-condition{
    display: flex; 
}

.condition{
    margin: 4.1% .5% 2.4%;
    padding: 1%;
    font-size: 85%;
    font-weight: 600;
    border-radius: 3.3px;
    border: 1.5px solid rgb(13, 114, 234);
    background-color: rgb(13, 114, 234);
    color:white;
}

.leak{
    background-color: white;
    color:rgb(13, 114, 234);
}

.card-plan h3{
    text-align: left;
    font-size: 141%;
}

.value{
    margin-top: 1%;
    font-size: 100%;
    text-align: left;
    line-height: 150%;
}

hr{
    width: 95%;
    margin: auto;
    margin-top: 5.8%;
    margin-bottom: 8%;
}

#check{
    display: flex;
    align-items: center;
    margin-top: -1rem;
    text-align: left;
}

.button-fill{
    margin-top: 3%;
}

.fa-check{
    color: rgb(83, 83, 83);
}

.plan{
    color: rgb(83, 83, 83);
    text-align: left;
    font-size: 74%;
    margin-top: 5%;
    padding-bottom: 5%;
}




/* .nav-menu{
    border: 1px solid white;
    width: 100%;
    margin-right: 15%;
}

.nav-menu ul{
    display: flex;
    padding: 6%;
}

.nav-menu ul li{
    list-style-type: none;
    margin: 1em;
    font-weight: bolder;
    font-size: 90%;
    letter-spacing: .03em;
    margin: auto;
} */

