@media screen and (min-width: 800px){
    /*Cabeçalho*/
    .image-logotipo{
        margin: 12px 0 10px 40px;
    }

    .fa-bars{
        margin: 14px 40px 8px ;
        font-size: 23.84px;
        color: white;
    }

    .text-header{
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .nav-menu{
        display: none;
    }



    /*Elementos .ad textos*/
    .ad{
        max-width: 700px;
        margin: auto;
    }

    .ad h1{
        margin-top: 8px;
        font-size: 39px;
    }

    .ad h2{
        margin-top: 30px;
        line-height: 38px;
        font-size: 22px;
    }

    .termos-ad{
        margin-top: 30px;
        font-size: 66%;
    }

    /*Elementos .add buttons*/ 
    .buttons{
        display: flex;
        margin-top: 28px;
        width: 470px;
    }

    .button-ad-leak{
        width: 200px;
        margin-left: 10px;
    }



    /*Conteúdo .master albuns*/
    .content-master{
        padding-bottom: 80px;
    }
    
    /*Estrutura grid*/
    .cards-album{
        margin: auto;
        width: 800px;
        display: grid;
        grid-template-areas: 
        "card1 card2"
        "card3 card4";
    }

    /*Definição das áreas*/
    .content-master h2{
        font-size: 36px ;
        grid-area: title;
    }

    .content-master p{
        margin-top: 10px;
        grid-area: subtitle;
    }

    .faixas{
        margin-bottom: 15px;
    }

    .cards-album > article:nth-child(1){
        margin-bottom: 60px;
        grid-area: card1;
    } 

    .cards-album > article:nth-child(2){
        margin-bottom: 60px;
        grid-area: card2;
    }

    .cards-album > article:nth-child(3){
        grid-area: card3;
    }

    .cards-album > article:nth-child(4){
        grid-area: card4;
    }

    /*Cards album*/
    .card-album{
        margin:auto;
    }

    /*Textos .card albuns*/
    .description{
        margin: 0;
        width: 200px;
        padding: 15px 0 0 10px;
        text-align: left;
    }

    .description-title{
        font-size: 100%;
        letter-spacing: 1px;
    }
    
    .description-sub{
        font-size: 90%;
        line-height: 10px;
    }

    /*Imagem .card albuns*/
    .card-album img{
        width: 110px;
    }



    /*Conteúdo .icons*/
    /*Estrutura grid*/
    .text-content-icons{
        max-width: 800px;
        margin: auto;
        display: grid;
        grid-template-areas: 
        "title title"
        "card1 card2"
        "card3 card4";
    }

    /*Definição das áreas*/
    .content-icons h2{
        font-size: 36px;
        margin: 50px 0 50px 0;
        grid-area: title;
    }

    .text-content-icons > article:nth-child(1){
        grid-area: card1;
    }

    .text-content-icons > article:nth-child(2){
        grid-area: card2;
    }

    .text-content-icons > article:nth-child(3){
        grid-area: card3;
    }

    .text-content-icons > article:nth-child(4){
        grid-area: card4;
    }

    /*Cards icons*/
    .card-icon{
        margin: auto;
        margin-bottom: 50px;
    }

    .description-icons{
        margin-top: 10px;
        width: 250px;
    }

    .card-icon img{
        width: 100px;
    }



    /*Rodapé*/
    .text-footer{
        max-width: 800px;
        margin: auto;
    }

    .medias{
        margin-top: 50px;
    } 
    
    /*Estrutura grid*/
    .cards-footer{
        margin-left: 20px;
        margin-bottom: 0;
        display: grid;
        grid-template-areas: 
        "logo logo logo"
        "card1 card2 card3"; 
    }

    /*Definição das áreas*/
    .image-logotipo-footer{
        width: 90px;
        margin: 45px 0 40px 29px;
        grid-area: logo;
    }

    .cards-footer > div:nth-child(1){
        grid-area: card1;
    }

    .cards-footer > div:nth-child(2){
        grid-area: card2;
    }

    .cards-footer > div:nth-child(3){
        grid-area: card3;
    }
}



